h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family: "Vast Shadow", cursive;
    text-transform: uppercase;
}
body,
div,
ul,
li,
p {
    padding: 0;
    margin: 0;
    font-family: "Playfair Display", serif;
}
.clear-fix {
    overflow: auto;
}
.education-entry,
.work-entry,
.project-entry,
.speaking-entry {
    padding: 0 5%;
}
.project-link {
    display: inline-block;
}
.external-link {
    display: block;
}
.contact-link {
    color: #fff;
    display: inline;
}
.contact-link:hover,
.contact-link:focus {
    text-decoration: underline;
    color: #fff;
}
h1 {
    font-size: 40px;
    color: #1c4c54;
    line-height: 48px;
    display: inline;
}
h2 {
    font-weight: bold;
    font-size: 24px;
    color: #1c4c54;
    line-height: 29px;
    padding: 10px;
}
h3 {
    font-size: 20px;
    color: #1c4c54;
    line-height: 22px;
}
h4 {
    font-weight: bold;
    font-size: 14px;
    color: #1c4c54;
    line-height: 17px;
}
h2,
h3,
h4,
h5 {
    padding: 10px 5%;
}
.date-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: left;
}
.location-text {
    font-style: italic;
    font-size: 14px;
    color: #999;
    line-height: 16px;
    float: right;
}
.highlight-text {
    font-style: italic;
    font-size: 20px;
}
p {
    font-size: 14px;
    color: #1c4c54;
    line-height: 21px;
}
a {
    color: #1199c3;
    text-decoration: none;
    margin-top: 10px;
    display: block;
}
.dark-link {
    color: #1c4c54;
}
.welcome-message {
    font-size: 20px;
    color: #1c4c54;
    line-height: 20px;
    margin-top: 20px;
}
#skills-h3 {
    color: #f5ae23;
    display: none;
}
/*.aqua {
  background-color: #50b7c8;
}
*/

.dark-text {
    color: #1c4c54;
}
.major-em {
    color: #1c4c54;
}
.white-text {
    color: #fff;
}
.gray {
    background-color: #f3f3f3;
    padding-bottom: 10px;
    clear: both;
}
.light-blue {
    background-color: #a3dae3;
}
/* TODO: Replace with image later */

#header,
#lets-connect {
    background-color: #599;
}
.flex-box {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}
.center-content {
    padding: 2.5% 5%;
}
ul {
    list-style-type: none;
}
.biopic {
    float: left;
    padding: 10px;
    width: 200px;
    display: none;
    border-radius: 50%;
}
.biopic:hover {
    content: url("../images/helmet_crop.jpg");
    border-radius: 50%;
}
img {
    padding: 10px;
}
span {
    padding: 5px;
}
#lets-connect {
    text-align: center;
}
/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
    #lets-connect {
        margin-top: 5%;
    }
}
@media only screen and (max-width: 900px) {
    .biopic {
        width: 175px;
    }
}
@media only screen and (max-width: 750px) {
    #lets-connect {
        margin-top: 10%;
    }
    .biopic {
        width: 150px;
    }
    .welcome-message {
        display: none;
    }
}
#map {
    display: block;
    height: 100%;
    margin: 0 5%;
}
#mapDiv {
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
}
@media only screen and (min-width: 750px) {
    #skills-h3,
    .biopic {
        display: block;
    }
    #skills {
        flex-direction: column;
    }
}